@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&family=Geist+Mono:wght@400;500&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Geist', sans-serif;
    font-size: 15px;
    background-color: #191826;
    color: #50688c;
}

code, kbd, pre, .font-mono {
    font-family: 'Geist Mono', monospace;
}